.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/assets/annie-spratt-QckxruozjRg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10rem 0 6rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .hero h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color:aliceblue;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2rem;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }